<h2>Ingresá los datos de tu producto</h2>

<form action="api/products/" method="post">
  <label for="title">Título<input id="title" name="title" type="text" /></label>
  <label for="description">Descripción<input
      id="description"
      name="description"
      type="text"
    /></label>
  <label for="price">Precio<input
      id="price"
      name="price"
      type="number"
    /></label>
  <label for="thumbnail">Imágenes<input
      id="thumbnail"
      name="thumbnail"
      type="text"
    /></label>
  <label for="code">Código<input id="code" name="code" type="text" /></label>
  <label for="stock">Stock<input
      id="stock"
      name="stock"
      type="number"
    /></label>
  <button type="submit">Enviar</button>
</form>