<h2>Ingresá tu nueva contraseña</h2>

<form
  action="/api/sessions/restorePassword03"
  method="post"
  style="width:20rem;display:flex;flex-direction: column;"
>

  <label for="password">Contraseña:
    <input id="password" name="password" type="password" /></label>

  <button type="submit">Enviar</button>
</form>