<h1>RESTORE PASSWORD 1</h1>

<form
  action="/api/sessions/restorePassword01"
  method="post"
  style="width:20rem;display:flex;flex-direction: column;"
>

  <label for="email">Email:
    <input id="email" name="email" type="email" /></label>

  <button type="submit">Enviar</button>
</form>